@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'LINESeedKR-Bd';
  font-weight: 700;
}

p {
  font-family: 'LINESeedKR';
  font-weight: 400;
}

body {
  background-color: #171717 !important;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.bookboard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  margin-bottom: 60px;
}

.page-link {
  background-color: #171717;
  color: #171717;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.review-container {
  position: relative;
  text-align: center;
}
.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
#bookListContainer {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.inputNumber {
  text-align: center;
  margin-top: 20px; /* 상단 여백 추가 */
}

#authCode {
  height: 40px; /* 높이 조정 */
  width: 300px; /* 가로 길이 조정 */
}

.ownerBtn {
  text-align: center;
  margin-top: 20px; /* 상단 여백 추가 */
}

/*----버튼*-----*/

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 50px;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #ff269d, #47c7ff);
}
