.storereviewcardbox1 {
  width: 50%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);

  padding: 20px;
  margin: 15px;
}

.storereviewcontainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
