.storereviewcardbox1 {
  width: 50%;
  box-shadow: 2px 2px 30px rgba(0.1, 0, 0, 0.1);

  padding: 20px;
  margin: 15px;
}

.storereviewcontainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.fullstorereview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storemiddlecontain {
  width: 100%;
}

#storereviewlist {
  margin-left: -15px;
}

#storedetailimg {
  display: flex;
  justify-content: center;
}
