#adminsidebar {
  float: left;
  width: 20%; /* sidebar의 넓이를 조정하려면 이 값을 변경하세요 */
}

#adminmain {
  float: right;
  width: 80%; /* main 부분의 넓이를 조정하려면 이 값을 변경하세요 */
}

.boardcontain {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px; /* Adjust margin as needed */
}

#first {
  display: flex;
  justify-content: center;
}

#userinfoContain {
  width: 50%;
  height: 25vh;
}

#second {
  display: flex;
  justify-content: center;
}

#ownerlistContain {
  width: 50%;
  height: 25vh;
}

#sitetraffic {
  width: 100%;
  height: 15vh;
}

#three {
  display: flex;
  justify-content: center;
}

#storelist {
  width: 100%;
  height: 35vh;
}
