@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'LINESeedKR-Bd';
  font-weight: 700;
}

p {
  font-family: 'LINESeedKR';
  font-weight: 400;
}

body {
  background-color: #171717 !important;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.bookboard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo-container {
  margin-bottom: 60px;
}
.alarm-box {
  text-align: center;
}
.alarm-box img {
  width: 30px; /* 원하는 크기로 조절하세요 */
  height: 30px; /* 원하는 크기로 조절하세요 */
  margin: 0 0 20 0px; /* 알림 버튼과의 간격 조절 (원하는 만큼) */
}
.page-link {
  background-color: #171717;
  color: #171717;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.review-container {
  position: relative;
  text-align: center;
}

/*별점*/
.rating_box {
  margin-bottom: 20px;
  font-size: xx-large;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-start; /* 수직 상단 정렬 */
}
.create_review {
  background: #f5f7fb;
  width: 450px;
  height: 130px;
  border: 0;
  border-radius: 10px;
  resize: none;
  margin-bottom: 20px;
  padding: 20px;
}
.review_btn {
  background: #47c7ff;
  width: 450px;
  border: 0;
  border-radius: 10px;
  padding: 8px 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
.review_btn:hover {
  background: #ff269d;
}

button:hover {
  background: #47c7ff;
}
#reviewPostingBtn {
  background: #47c7ff;
  width: 450px;
  border: 0;
  border-radius: 10px;
  padding: 8px 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
#reviewPostingBtn:hover {
  background: #ff269d;
}
.reviewCardRow {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}
.book-info {
  width: 20%;
  text-align: center;
}
/* 도서 정보를 가운데 정렬하는 스타일 */
.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 이미지 크기 및 모서리를 설정하는 스타일 */
.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px; /* 가로 최대 너비 설정 (원하는 크기로 조절) */
  margin: 0 auto; /* 가로 가운데 정렬 */
}

/* 이미지 크기 및 모서리를 설정하는 스타일 */
.book-info img {
  width: 200px; /* 원하는 크기로 조절하세요 */
  height: auto; /* 가로 비율 유지 */
  border-radius: 10px; /* 모서리 둥글게 설정 */
  margin-bottom: 10px; /* 이미지 아래 여백 조절 (원하는 만큼) */
  margin-top: 50px;
}

/* 도서 정보 스타일 */
.book-details {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 15px;
}

/* 도서 제목 스타일 */
.book-details h3 {
  font-size: 1.5em; /* 원하는 크기로 조절하세요 */
  margin-bottom: 10px; /* 도서 제목 아래 여백 조절 (원하는 만큼) */
}

/* 출판사 및 소개 스타일 */
.book-details p {
  font-size: 1em; /* 원하는 크기로 조절하세요 */
  margin-bottom: 5px; /* 각 항목 아래 여백 조절 (원하는 만큼) */
}
