@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'LINESeedKR-Bd';
  font-weight: 700;
}

p {
  font-family: 'LINESeedKR';
  font-weight: 400;
}

body {
  background-color: #171717 !important;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.bookboard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px; /* Adjust margin as needed */
}
.logo-container {
  margin-bottom: 60px;
}
.alarm-box {
  text-align: center;
}
.alarm-box img {
  width: 30px; /* 원하는 크기로 조절하세요 */
  height: 30px; /* 원하는 크기로 조절하세요 */
  margin: 0 0 20 0px; /* 알림 버튼과의 간격 조절 (원하는 만큼) */
}
.page-link {
  background-color: #171717;
  color: #171717;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.review-container {
  position: relative;
  text-align: center;
}

/*별점*/
.rating_box {
  margin-bottom: 20px;
  font-size: xx-large;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-start; /* 수직 상단 정렬 */
}
.create_review {
  background: #f5f7fb;
  width: 450px;
  height: 130px;
  border: 0;
  border-radius: 10px;
  resize: none;
  margin-bottom: 20px;
  padding: 20px;
}
.review_btn {
  background: #47c7ff;
  width: 450px;
  border: 0;
  border-radius: 10px;
  padding: 8px 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
.review_btn:hover {
  background: #ff269d;
}

button:hover {
  background: #47c7ff;
}
#reviewPostingBtn {
  background: #47c7ff;
  width: 450px;
  border: 0;
  border-radius: 10px;
  padding: 8px 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}
#reviewPostingBtn:hover {
  background: #ff269d;
}
.reviewCardList {
  display: flex;
}
